* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* 50A4E2*/

.cus_span_name{
    display: block;
    font-size: 35px;
    color: #fff;
}

.cus_span_email{
    display: block;
    font-size: 20px;
    color: #fff;
    margin-top: 5px;
}

.propos {
    padding: 10px
}

.edu {
    padding: 10px
}

.left_side {
    width: 23%;
    height: 2000px;
    background-color: #253447;
    float: left;
    text-align: center;
}

.left_side img {
    border-radius: 50%;
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px
}

.right_side {
    float: left;
    width: 77%;
    padding: 25px;
    margin-top: 18px
}

.line {
    height: 4px;
    width: 100%;
    background-color: #50A4E2;
}

h1 {
    margin-bottom: 10px
}

@media (max-width: 767px) {
    .right_side {
        float: none
    }
    .left_side {
        float: none;
        width: 100%;
        height: 100%
    }
}